.taskdetails-container {
  margin-top: 20px;
  height: auto;
  width: 300px;
  background: #dae1e3;
  border-radius: 3px;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.5);

  border-radius: 6px;
  padding: 5px;
  display: flex;
  max-width: 600px;
  justify-content: space-between;

  padding-left: 30px;
}

#user {
  border-radius: 50%;
}

.right {
  padding-top: 7%;
}
